<div class ="container sticky_footer">
  <div class="cards-container" >
    <% @cars.each do |car| %>
      <%= link_to car_path(car), class: "card", style: "width: 25rem" do %>
        <img src="<%= car.photo.url %>" class='card-img-top' id='identifier' style='width: 400px; height: 270px'>
        <h5 class="card-title"><strong><%= car.brand  %></strong></h5>
        <p class="card-text"><%= car.model  %></p>
        <div class="d-flex mt-2">
            <h4><strong><%="#{car.price} € / day"%></h4></strong>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
