<div class="container sticky_footer pt-3 justify-content-middle ">
  <h1><%= @car.brand %>, <%= @car.model %></h1>
  <div class="row justify-content-center">
    <div class="d-flex big-pic col-12 col-sm-8">
      <img src="<%= @car.photo.url %>">
    </div>
    <div class="col-12 col-sm-4">
      <h2>Description</h2>
      <p><%= @car.description %></p>
      <%= render :partial => 'booking', locals: { car: @car, rental: @rental } %>
      <%# <%= render :partial => 'carousel', locals: { car: @car } %>
    </div>
  </div>
</div>
